.slider {
  width: 100%;
  overflow: hidden;

  background: #000000;
}

.slider .window {
  /* this width need to be larger than total width of all the items */
  width: 300vw;
}

.item {
  color: white;
  background: #777777;
  display: inline-block;
  width: 50vw;
  height: 10vh;
  margin: 20px;
}
.item:first-of-type {
  /* margin-left: 0; */
}